%defaultFont-h1 {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #000000;
    font-size: 45px;
    margin: 10px 0;
}

%defaultFont-h2 {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #000000;
    font-size: 30px;
    margin: 8px 0;
}

%defaultFont-h3 {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #000000;
    font-size: 20px;
    margin: 8px 0;
}
